.cardAuthors {
  width: 100%;
  max-width: 172px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .cardAuthors {
    max-width: 184px;
  }
}

.imageCardAuthors,
.avatarIconWrapper {
  position: relative;
  width: clamp(120px, 38vw, 148px);
  max-width: 148px;
  aspect-ratio: 1 / 1;
  border-radius: 256px;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
}
@media screen and (min-width: 768px) {
  .imageCardAuthors,
  .avatarIconWrapper {
    width: 100%;
    max-width: 160px;
  }
}

.avatarAuthors {
  object-fit: cover;
}

.avatarIcon {
  width: 71px;
  height: 60px;
  display: block;
}

.nameAuthors {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;

  text-align: center;
  color: var(--black);
}
