NEXT_PUBLIC_LOCAL_API_URL=  #бек
NEXT_PUBLIC_FRONT_API_URL=  #фронт(на проді силка на версел, на локалці локальна)
LOCAL_API_URL=              #бек
NEXT_PUBLIC_RENDER_API_URL= #бек(рендер)
RENDER_API_URL=             #бек(рендер)
NODE_ENV=
