.container {
    padding: 48px 0;
}

.title {
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 40px 0;
    }

    .title {
        font-size: 32px;
    }
}
