 .item {
     list-style: none;
 }

 .card {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 16px;

     color: inherit;
     /* text-decoration: none; */
     cursor: pointer;
     transition: transform 0.2s ease;
 }

 .card:hover,
 .card:focus-visible {
     transform: translateY(-2px);
 }

 .imageWrapper {
     /* position: relative; */
     width: 160px;
     height: 160px;
     overflow: hidden;
     border-radius: 50%;
     /* border-radius: 256px; */
 }

 .image {
     object-fit: cover;
     transition: transform 0.3s ease;
 }

 .link:hover .image,
 .link:focus-visible .image {
     transform: scale(1.05);
 }

 .name {
     margin: 0;
     font-size: 24px;
     font-weight: 700;
     text-align: center;
     color: var(--black);
 }

 @media screen and (min-width: 768px) {
     .imageWrapper {
         width: 180px;
         height: 180px;
     }

     .name {
         font-size: 20px;
     }
 }

 @media screen and (min-width: 1440px) {
     .imageWrapper {
         width: 200px;
         height: 200px;
     }
 }