.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--light-green);
  border-radius: 32px;
  max-width: calc(100% - 32px);
  width: fit-content;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .closeBtn {
    right: 32px;
  }
}
.closeIcon {
  display: block;
  width: 14px;
  height: 14px;
  fill: none;
  stroke: var(--black);
}
