.tabs {
  display: flex;
  gap: 38px;
  margin-bottom: 24px;
}

.tab {
  font-weight: 700;
  font-size: 16px;
  color: var(--green-darker);
  padding-bottom: 4px;

  border-bottom: 1px solid transparent;
  transition: opacity 0.2s ease;
}

.tab:hover {
  opacity: 0.8;
}

.active {
  border-bottom-color: var(--green-darker);
}
